@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');

:root 
{
  --mainRed:#ff0000;
  --mainYellow:rgb(240,228,148);
  --mainWhite:#fff;
  --mainBlack:#000;
  --redTrans:rgba(249,228,148,0.5);
  --redblue:#FF6699;
  --mainBlue:#0040ff;
  --blueTrans:rgba(0, 191, 255,0.5);
  --redTransition:rgb(255, 128, 128);
  --mainGrey:rgb(184,184,184);
  --shadyBlue:#0099FF;
  --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

body
{
  font-family: "Kaushan Script", cursive;
  background: rgb(246,248,250);
  color:var(--mainBlack) 
}

/* body:before
{
    content: 'VG2R';
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 16em;
    font-weight: 700;
    color:transparent;
    -webkit-text-stroke: 2px #555;

} */
/* buttons */
button
{
    background: var(--mainRed);
    color: var(--mainWhite);
    border: none;
    font-weight: bold;
}
.btn-red
{
    color:var(--mainBlack);
    border-color: var(--mainBlack);
    border-radius: 5px;
}
.btn-red:hover
{
    color:var(--mainRed);
    background: var(--mainBlack);
}
.btn-danger
{
    border: none;
}

/* NAVBAR SECTION NEW */
/* .email-icon{padding-right: 10px;} */
.title_image{}
.nav-info p
{
    font-size: 0.75rem;
}
.head{color: var(--mainRed);}

.nav_bar
{
    position: sticky;
    top: 0;
    z-index: 1;
}
.bg{background: var(--mainWhite) !important;}
.bg_logo{
    width: 110px;
    margin-left: 250px;
    position: relative;
}
.navbar-nav{margin-right: 200px;}
.navbar-nav li
{
    padding: 0 10px;
}
.navbar-toggler
{
    border: none !important;
}
.nav-link
{
  color:var(--mainBlack) !important;
  font-size: 1.1rem;
  padding-right: 30px !important;
}
.nav-link:hover{
    color: var(--mainRed) !important;
    border-bottom: solid 2px var(--mainRed);
}
.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    /* background-color: #f1f1f1; */
    background-color: var(--mainWhite);
    min-width: 370px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    margin-left: 30px;
    /* text-align: center; */
  }
  
  .dropdown-content a:hover {background-color: #ddd;}
  
  .dropdown:hover .dropdown-content {display: block;}
  
  /* .dropdown:hover .dropbtn {background-color: #3e8e41;}  */

.slider{
    padding-top:12px;
}
#slider{padding-bottom: 50px;}

#navbar_head{
    padding-bottom: 40px;
}

.max-height
{
    /* min-height:calc(100vh - 60px) ; */

    min-height: 520px;
    /* min-width: calc(100vh - 68px); */
    background:linear-gradient(var(--blueTrans), var(--blueTrans)), url('/img/growth_draft.jpg');
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    padding-top: 50px;
    /* position: relative; */
}
/* .slider{padding-top: 95px;} */
.slider-text{
    color: var(--mainWhite);
    font-family: "Roboto Slab", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-style: italic;
    animation: slideInFromLeft 1s ease-in;
}
.slider-text h1 {
    font-size: 3.4rem;
}
.slider-text h4
{
    font-size: 1.3rem;
    line-height: 1.8em;
    font-style: normal;
}

.social-media
{
    min-height: 30px;
    background: var(--mainWhite);
}
.social-media ul
{
    list-style: none;
    justify-content: right;
    float: right;
    display: flex;
}
.social-media ul li
{
    padding-right: 30px;
    font-size: 25px;
}
.twitter{
    min-height: 700px;
    background: #E8E8E8;
}

/* whatWeDo */
#whatWeDo hr
{
    border-color: var(--mainRed);
    font-weight: bolder;
}
#whatWeDo p
{
    text-align: justify;
    font-family: var(--font-family-sans-serif);
    font-style: initial;
    font-weight: 400;
    font-size: 1rem;
}
.whatWeDo-column{
    animation: slideInFromRight 1s ease-in;
}

/* vision and mission */

.vision_background
{
    padding-top: 50px;
    background: #f2f2f2 !important;
    min-height:400px ;
    /* border: 2px solid var(--mainRed);
    box-shadow: var(--mainWhite); */
}
.core-values ul
{
    list-style-type: none;
    padding: 8px;
}
.core-values ul li
{
    margin: 20px;
}



/* footer */
/* .footer{flex-direction: column;} */
#status{
    width: 90%;
    max-width: 500px;
    text-align: center;
    padding: 10px;
    margin: 0 auto;
    border-radius: 8px;
}
#status.success
{
    background-color: rgb(211, 250, 153); 
    animation: status 4s ease forwards;
}
#status.error
{
    background-color: rgb(250, 129, 92); 
    color:var(--mainWhite);  
    animation: status 4s ease forwards;   
}

@keyframes status{
    0%{
        opacity: 1;
        pointer-events: all;
    }
    90%{
        opacity: 1;
        pointer-events: all;
    }
    100%{
        opacity: 0;
        pointer-events: none;
    }
}
.footer-background
{
    background: #000099;
    min-height: 350px;
}
/* .contact
{
    margin: 140px;
} */


form .email-input
{
    padding: 10px;
    margin-bottom: 20px;
    /* background: var(--mainBlue); */
    background: transparent;
    border: solid 2px var(--mainWhite);
    font-weight: bold;
    border-radius: 4px;
    color: var(--mainWhite);
    width: 46%;
}
form .name-input
{
    padding: 10px;
    margin-bottom: 20px;
    /* background: var(--mainBlue); */
    background: transparent;
    border: solid 2px var(--mainWhite);
    font-weight: bold;
    border-radius: 4px;
    color: var(--mainWhite);
    width: 47%;
}


::placeholder {
    color: var(--mainWhite);
}
/* edge */
::-webkit-input-placeholder {color: var(--mainWhite);} 
  /* Internet Explorer */
:-ms-input-placeholder { color: var(--mainWhite);}

/* .company_name
{
    width: 70%;
} */
form .message-input
{
    width: 95%;
    padding: 10px;
    /* background: var(--mainBlue); */
    background: transparent;
    border: solid 2px var(--mainWhite);
    font-weight: bold;
    border-radius: 4px;
    color: var(--mainWhite);
    /* margin-top: 12px; */
}
.address
{
    color: var(--mainWhite);
}
.footer-icon{
  font-size: 1rem;
  color: var(--mainWhite);
  transition: all 0.4 ease-in-out;
}
.footer-icon:hover
{
  color: var(--mainPink);
}

/* about us section */
#slider h2
{
    font-family: 'Open Sans',Helvetica,Arial,Lucida,sans-serif;
    font-weight: 600;
    line-height: 1.3em;
    font-size: 3rem;
    font-style: normal;
}

.slider-height
{
    min-height: 520px;
    background:linear-gradient(var(--blueTrans), var(--blueTrans)), url('/img/aboutus.jpg');
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}
.Contactemail
{
    width: 10%;
    background: aqua;
    text-align: center;
    padding: 10px;
    color: var(--mainWhite);
}
.contactNumber
{
    width: 20px;
    background: var(--mainGrey);
    text-align: center;
    padding: 10px;
    color: var(--mainWhite);
}

/* team */
#team
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background: #000066;
    min-height: 80vh;
}
.teamHeader{
    color: var(--mainWhite);
    font-size: 2.1rem;
    font-weight: 500;
    text-transform: capitalize;
}
/* .team::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(#f00,#f0f);
    clip-path: circle(30% at right 70%);
}

.team::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(#2196f3,#e91e63);
    clip-path: circle(30% at 10% 10%);
} */
.teamContainer
{
    /* position: relative; */
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 40px 0;
}

.teamContainer .card
{
   /* position: relative; */
   width: 300px;
   height: 400px;
   background: rgba(255,255,255,0.05);
   margin: 20px;
   box-shadow: 0 15px 35px rgba(0,0,0,0.2);
   border-radius: 15px;
   display: flex;
   justify-content: center;
   align-items: center;
   backdrop-filter: blur(10px); 
}
.teamContainer .card .content 
{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 0.5;
    transition: 0.5s;
}
.teamContainer .card:hover .content
{
   opacity: 1; 
   transform: translateY(-20px);
} 
.teamContainer .card .content .imageBox
{
    position: relative;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
    border: 10px solid rgba(0,0,0,0.25);  
}
.teamContainer .card .content .imageBox img
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.teamContainer .card .content .contentBox
{
    color: var(--mainWhite);
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 500;
    font-size: 18px;
    text-align: center;
    margin: 20px 0 10px;
    line-height: 1.1em;
}
.teamContainer .card .content .contentBox h3 span 
{
    font-size: 12px;
    font-weight: 300;
    text-transform: initial;
}
.teamContainer .card .social
{
    position: absolute;
    bottom: 50px;
    display: flex;
}
.teamContainer .card .social li
{
    list-style: none;
    margin: 0 10px;
    transform: translateY(40px);
    transition: 0.5s;
    opacity: 0;
    transition-delay: calc(0.1s * var(--i));
}
.teamContainer .card:hover .social li
{
    transform: translateY(0px);
    opacity: 1;  

}
.teamContainer .card .social li a
{
    color: var(--mainWhite);
    font-size: 24px;
}

 






/* business development */
.business-height
{
    min-height: 520px;
    background:linear-gradient(var(--blueTrans), var(--blueTrans)), url('/img/business-logo.jpg');
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}
.businbusiness-service{padding-top: 50px;}
#business h2
{
    position: relative;
    font-family: 'Open Sans',Helvetica,Arial,Lucida,sans-serif;
    font-weight: 600;
    font-size: 60px;
    line-height: 1.3em;
    font-style: normal;
}
#business p
{
    text-align: justify;
    line-height: 1.8em;
    font-style: normal;
    font-size: 1.2rem;
}
.img-container
{
    background: #EEF1F5;
    padding: 30px 13px;
    filter: grayscale(1);
    
}
/* .img-container img{
    transition:transform 0.25s ease;
}

.img-container img:hover{
    -webkit-transform:scale(1.5); 
    transform:scale(1.5);
} */

.business-service h3
{
    font-weight: bolder;
    line-height: 1em;
    text-transform: uppercase;
    font-size: 1.2rem;
    color:#A2AAB2 !important ;
}
.business-div{border-top: 2px solid var(--mainRed);padding-top: 20px;}
.business-div h2 {font-weight: bolder;}
.business-div p
{
    text-align: justify;
    line-height: 1.8em; 
    font-size: 1.1rem;
}

/* schedule-appointment */
.schedule-appointment label
{
    color:#A2AAB2 ;
}

.schedule-appointment .form-control{
    border: none;
    background: #D3D3D3;
    
}

.const 
{
    border-radius: 70px; 
    size: 150px;
    border-image-width: 30px;
}

/* new footer */
#footer-section{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background:#112d42;
} 

#footer-section::before
{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background: #03a9f4;
}

#footer-section img{width:30px ;}
#footer-section .container
{
    position: relative;
    min-width: 1100px;
    min-height: 550px;
    display: flex;
    z-index: 1000;
}
#footer-section .container .contactinfo
{
    position: absolute;
    top: 40px;
    width: 350px;
    height: calc(100% - 80px);
    background: #0f3959;
    z-index: 1;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0 20px 20px rgba(0,0,0,0.2);
}
#footer-section .container .contactinfo h2
{
    color: var(--mainWhite);
    font-size: 24px;
    font-weight: 500;
}
#footer-section .container .contactinfo .info
{
    position: relative;
    margin: 20px 0;
}
#footer-section .container .contactinfo .info li
{
    position: relative;
    list-style:none ;
    display: flex;
    margin: 20px 0;
    cursor: pointer;
    align-items: flex-start;
}
#footer-section .container .contactinfo .info li span:nth-child(1)
{
    width: 30px;
    min-width: 30px;
}
#footer-section .container .contactinfo .info li span:nth-child(1) img
{
    max-width: 100%;
    filter: invert(1);
    opacity: 0.5;
}

#footer-section .container .contactinfo .info li span:nth-child(2)
{
    color: var(--mainWhite);
    margin-left: 10px;
    font-weight: 300;
    opacity: 0.5;
}

#footer-section .container .contactinfo .info li:hover span:nth-child(1) img,
#footer-section .container .contactinfo .info li:hover span:nth-child(2)
{
    opacity: 1;
}

#footer-section .container .contactinfo .social
{
    position: relative;
    display: flex;
}
#footer-section .container .contactinfo .social li
{
    list-style: none;
    margin-right: 15px;
}
#footer-section .container .contactinfo .social li a{text-decoration: none;}
#footer-section .container .contactinfo .social li a img{
    filter: invert(1);
    opacity: 0.5;
}
#footer-section .container .contactinfo .social li:hover a img{
    opacity: 1;
}

#footer-section .container .contactForm
{
    position: absolute;   
    padding: 70px 50px; 
    background: var(--mainWhite);
    margin-left: 150px;
    padding-left: 330px;
    /* width: calc(100% - 150px); */
    width: 770px;
    height: 480px;
    box-shadow: 0 50px 50px rgba(0,0,0,0.5);
}




/* .tax-image{
    width: 260px;
    height: 170px;
} */

/* .sticky {
    position: fixed;
    top: 0;
    width: 100%;
  } */













/* ANIMATIONS */
@keyframes slideInFromLeft{
    0%{
        transform: translateX(-100%);
    }
    100%{
        transform: translateX(0);
    }
}

@keyframes slideInFromRight{
    0%{
        transform: translateX(100%);
    }
    100%{
        transform: translateX(0);
    }
}

@keyframes slideInFromTop{
    0%{
        transform: translateY(-100%);
    }
    100%{
        transform: translateX(0);
    }
}

@keyframes slideInFromBottom{
    0%{
        transform: translateY(100%);
    }
    100%{
        transform: translateX(0);
    }
}

/* laptop, phone and tablet */

@media screen and (min-width: 769px) and (max-width: 1170px) {
    nav {margin-right: 0px;}
}

@media screen and (max-width: 768px)  {

    .bg_logo{
        width: 98px;
        margin-left: 0px;
    }
    nav{margin-right: 0px;}
    .navbar-nav{background: var(--mainWhite);}
    .slider-text h4 {
        font-size: 0.7rem;
    }
    .slider-text h1 {
        font-size: 1.4rem;
    }
    .slider-text h3 {font-size: 1.4rem; }
    .contact{margin-left: 0px;}
    form input[type=text]
    form textarea
    {
        width: 100%;
    }

    /* about us */
    #slider h2
        {
            font-family: 'Open Sans',Helvetica,Arial,Lucida,sans-serif;
            font-weight: 600;
            line-height: 1.3em;
            font-size: 2rem;
        }
        .business_tab
        {
          margin: 2px;
          font-size: 0.8rem;
        }
    /* business development */
    #business h2
    {
        /* position: relative; */
        font-family: 'Open Sans',Helvetica,Arial,Lucida,sans-serif;
        font-weight: 600;
        margin-top: 30px;
        font-size: 35px;
        line-height: 1em;
        font-style: normal;
    }
        #business p
    {
        text-align: justify;
        /* line-height: 1.3em; */
        font-style: normal;
        font-size: 1rem;
    }
    /* business development, advisory and consulting */
    .services-mobile{padding-top: 20px;}
}

@media screen and (max-width: 500px) {

    #whatWeDo h4{font-size: 0.7rem;}

}


/* testing the navbar */
